* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
main::-webkit-scrollbar {
  width: 0.25rem;
}
main::-webkit-scrollbar-track {
  background: #303030;
}
main::-webkit-scrollbar-thumb {
  background: #0cf867;
}
main::-webkit-scrollbar-thumb:hover {
  background: #067430;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-40vh);
  transition: all 250ms cubic-bezier(0.41, -0.11, 0.35, 1.21);
}
.visible {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0);
  transition: all 500ms cubic-bezier(0.41, -0.11, 0.35, 1.21);
}
.final-hidden {
  opacity: 0;
  filter: blur(5px);
  transform: scale(200%);
  transition: all 500ms cubic-bezier(0.41, -0.11, 0.35, 1.21);
}
.final-visible {
  opacity: 1;
  filter: blur(0px);
  transform: scale(100%);
  transition: all 500ms cubic-bezier(0.41, -0.11, 0.35, 1.21);
}

.App {
  text-align: center;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.become-one {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right, #0cf867, #01f0e3, #0cf867);
  background-size: 200%;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  height: 100vh;
  scroll-snap-type: y mandatory;
}
main > section {
  scroll-snap-align: start;
}
.section {
  background: #303030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll {
  height: 50px;
  width: 30px;
  border: 2px solid #fefefe;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 999px;
  cursor: pointer;
}
.scroll::before,
.scroll::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #fefefe;
  height: 10px;
  width: 10px;
  /*border-radius: 999px;*/
  transform: translate(-50%, -70%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll 1s ease-in-out infinite;
}
.scroll::after {
  top: 40%;
  animation-delay: 0.3s;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 70%;
  }
}
